@{
    ViewData["Title"] = "Adicionar Usuário";
}
<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
    <br />
    <form method="post">
        <button type="submit" name="generate" class="btn btn-primary">Gerar Usuário Aleatório</button>
    </form>
</div>




