@{
    ViewData["Title"] = "Gerador de Usuário - Inicial";
}

<div class="text-center">
    <h1 class="display-3">Gerador de Usuários</h1>
    <br />
    <br />
    <a href="@Url.Action("AddUser")" class="btn btn-primary">Adicionar Usuário</a>
    <a href="@Url.Action("Report")" class="btn btn-primary">Gerar Relatório</a>
</div>
